In [1]:
import pandas as pd
# Load financial statements
income = pd.read_csv("income_statement.csv")
balance = pd.read_csv("balance_sheet.csv")
cashflow = pd.read_csv("cash_flow.csv")

In [2]:
# Preview
income.head(), balance.head(), cashflow.head()

(           Breakdown             TTM       3/31/2025       3/31/2024  \
 0      Total Revenue  9,99,62,90,000  9,64,69,30,000  9,01,06,40,000
 1    Cost of Revenue  7,34,10,20,000  7,22,68,70,000  6,74,59,90,000
 2       Gross Profit  2,65,52,70,000  2,42,00,60,000  2,26,46,50,000
 3  Operating Expense  1,43,88,00,000  1,29,54,40,000  1,14,79,90,000
 4   Operating Income  1,21,64,70,000  1,12,46,20,000  1,11,66,60,000

         3/31/2023       3/31/2022
 0  8,77,83,50,000  6,95,96,30,000
 1  6,71,89,80,000  5,31,67,80,000
 2  2,05,93,70,000  1,64,28,50,000
 3  1,03,92,20,000    85,52,20,000
 4  1,02,01,50,000    78,76,30,000  ,
                                  Breakdown        3/31/2025        3/31/2024  \
 0                             Total Assets  19,50,12,10,000  17,55,98,60,000
 1  Total Liabilities Net Minority Interest   9,40,49,30,000   8,30,19,80,000
 2     Total Equity Gross Minority Interest  10,09,62,60,000   9,25,78,80,000
 3                     Total Capitalization  10,80,09,90,000  10,16,19,30,000
 4                      Common Stock Equity   8,43,20,00,000   7,93,48,10,000

          3/31/2023        3/31/2022
 0  16,07,43,10,000  14,99,66,50,000
 1   7,78,55,00,000   6,10,68,10,000
 2   8,28,88,10,000   8,88,98,40,000
 3   8,99,04,80,000   9,67,18,40,000
 4   7,15,87,20,000   7,79,48,50,000  ,
              Breakdown              TTM        3/31/2025        3/31/2024  \
 0  Operating Cash Flow   1,86,00,30,000   1,78,70,30,000   1,58,78,80,000
 1  Investing Cash Flow  -1,09,94,70,000  -1,37,53,50,000  -1,13,58,10,000
 2  Financing Cash Flow    -54,90,90,000    -31,89,10,000    -16,64,60,000
 3    End Cash Position   1,11,50,00,000   1,06,50,20,000     97,22,50,000
 4  Capital Expenditure  -1,28,90,40,000  -1,39,96,70,000  -1,52,88,30,000

          3/31/2023        3/31/2022
 0   1,15,03,20,000   1,10,65,40,000
 1    -91,23,50,000  -1,10,10,30,000
 2     10,45,50,000     17,28,90,000
 3     68,66,40,000     36,17,80,000
 4  -1,40,98,80,000  -1,00,14,50,000  )

In [3]:
income = income.set_index("Breakdown")
balance = balance.set_index("Breakdown")
cashflow = cashflow.set_index("Breakdown")

In [5]:
def clean_financial_df(df):
    df = df.replace({",": "", "\(": "-", "\)": ""}, regex=True)
    df = df.replace(["", "None", "NaN", "-", "—"], 0)
    return df.apply(pd.to_numeric, errors="coerce").fillna(0)

income = clean_financial_df(income)
balance = clean_financial_df(balance)
cashflow = clean_financial_df(cashflow)

In [7]:
income_t = income.T
balance_t = balance.T
cashflow_t = cashflow.T

In [8]:
income_t.head()

Breakdown,Total Revenue,Cost of Revenue,Gross Profit,Operating Expense,Operating Income,Net Non Operating Interest Income Expense,Pretax Income,Tax Provision,Net Income Common Stockholders,Diluted NI Available to Com Stockholders,...,EBIT,EBITDA,Reconciled Cost of Revenue,Reconciled Depreciation,Net Income from Continuing Operation Net Minority Interest,Total Unusual Items Excluding Goodwill,Total Unusual Items,Normalized EBITDA,Tax Rate for Calcs,Tax Effect of Unusual Items
TTM,9.996290e+09,7.341020e+09,2.655270e+09,1.438800e+09,1.216470e+09,-119290000.0,1.240160e+09,269510000.0,831060000.0,831060000.0,...,1.480650e+09,2.029830e+09,7.341020e+09,549180000.0,831060000.0,14030000.0,14030000.0,2.015800e+09,0.0,3048981.82
3/31/2025,9.646930e+09,7.226870e+09,2.420060e+09,1.295440e+09,1.124620e+09,-100010000.0,1.060170e+09,252300000.0,696480000.0,696480000.0,...,1.281380e+09,1.812740e+09,7.226870e+09,531360000.0,696480000.0,14030000.0,14030000.0,1.798710e+09,0.0,3339140.00
3/31/2024,9.010640e+09,6.745990e+09,2.264650e+09,1.147990e+09,1.116660e+09,-111900000.0,1.043400e+09,257070000.0,696210000.0,696210000.0,...,1.261120e+09,1.769440e+09,6.745990e+09,508320000.0,696210000.0,16560000.0,16560000.0,1.752880e+09,0.0,4065480.00
3/31/2023,8.778350e+09,6.718980e+09,2.059370e+09,1.039220e+09,1.020150e+09,-78420000.0,9.404600e+08,203760000.0,667020000.0,667020000.0,...,1.130040e+09,1.533070e+09,6.718980e+09,403030000.0,662840000.0,-14580000.0,-14580000.0,1.547650e+09,0.0,-3185730.00
3/31/2022,6.959630e+09,5.316780e+09,1.642850e+09,8.552200e+08,7.876300e+08,-19260000.0,8.215400e+08,159700000.0,607050000.0,607050000.0,...,9.659200e+08,1.263740e+09,5.316780e+09,297820000.0,590440000.0,40860000.0,40860000.0,1.222880e+09,0.0,8188344.00

In [9]:
balance_t.head()

Breakdown,Total Assets,Total Liabilities Net Minority Interest,Total Equity Gross Minority Interest,Total Capitalization,Common Stock Equity,Capital Lease Obligations,Net Tangible Assets,Working Capital,Invested Capital,Tangible Book Value,Total Debt,Net Debt,Share Issued,Ordinary Shares Number
3/31/2025,1.950121e+10,9.404930e+09,1.009626e+10,1.080099e+10,8.432000e+09,220450000.0,4.342610e+09,455330000.0,1.190730e+10,4.342610e+09,3.695750e+09,2.468850e+09,13532871.49,13532871.49
3/31/2024,1.755986e+10,8.301980e+09,9.257880e+09,1.016193e+10,7.934810e+09,215200000.0,4.331070e+09,727330000.0,1.118103e+10,4.331070e+09,3.461420e+09,2.310820e+09,13532218.03,13532218.03
3/31/2023,1.607431e+10,7.785500e+09,8.288810e+09,8.990480e+09,7.158720e+09,204260000.0,3.850770e+09,295530000.0,1.029838e+10,3.850770e+09,3.343920e+09,2.798100e+09,13532188.03,13532188.03
3/31/2022,1.499665e+10,6.106810e+09,8.889840e+09,9.671840e+09,7.794850e+09,156690000.0,5.476870e+09,383570000.0,1.045790e+10,5.476870e+09,2.819740e+09,2.327960e+09,13531988.03,13531988.03

In [10]:
cashflow_t.head()

Breakdown,Operating Cash Flow,Investing Cash Flow,Financing Cash Flow,End Cash Position,Capital Expenditure,Issuance of Capital Stock,Issuance of Debt,Repayment of Debt,Free Cash Flow,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TTM,1.860030e+09,-1.099470e+09,-549090000.0,1.115000e+09,-1.289040e+09,90000.0,397450000.0,-329360000.0,570990000.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3/31/2025,1.787030e+09,-1.375350e+09,-318910000.0,1.065020e+09,-1.399670e+09,220000.0,263780000.0,-317550000.0,387360000.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3/31/2024,1.587880e+09,-1.135810e+09,-166460000.0,9.722500e+08,-1.528830e+09,70000.0,696100000.0,-350550000.0,59050000.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3/31/2023,1.150320e+09,-9.123500e+08,104550000.0,6.866400e+08,-1.409880e+09,400000.0,359360000.0,-290590000.0,-259560000.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3/31/2022,1.106540e+09,-1.101030e+09,172890000.0,3.617800e+08,-1.001450e+09,397670000.0,593430000.0,-406470000.0,105090000.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Financial Table

In [11]:
financials = income_t.join(balance_t).join(cashflow_t)
financials.head()

Breakdown,Total Revenue,Cost of Revenue,Gross Profit,Operating Expense,Operating Income,Net Non Operating Interest Income Expense,Pretax Income,Tax Provision,Net Income Common Stockholders,Diluted NI Available to Com Stockholders,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TTM,9.996290e+09,7.341020e+09,2.655270e+09,1.438800e+09,1.216470e+09,-119290000.0,1.240160e+09,269510000.0,831060000.0,831060000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3/31/2025,9.646930e+09,7.226870e+09,2.420060e+09,1.295440e+09,1.124620e+09,-100010000.0,1.060170e+09,252300000.0,696480000.0,696480000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3/31/2024,9.010640e+09,6.745990e+09,2.264650e+09,1.147990e+09,1.116660e+09,-111900000.0,1.043400e+09,257070000.0,696210000.0,696210000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3/31/2023,8.778350e+09,6.718980e+09,2.059370e+09,1.039220e+09,1.020150e+09,-78420000.0,9.404600e+08,203760000.0,667020000.0,667020000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3/31/2022,6.959630e+09,5.316780e+09,1.642850e+09,8.552200e+08,7.876300e+08,-19260000.0,8.215400e+08,159700000.0,607050000.0,607050000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Calculation of Ratios

In [18]:
# Profitability
financials["Gross Margin"] = financials["Gross Profit"] / financials["Total Revenue"]
financials["Operating Margin"] = financials["Operating Income"] / financials["Total Revenue"]
financials["Net Margin"] = financials["Net Income Common Stockholders"] / financials["Total Revenue"]

# Returns
financials["ROA"] = financials["Net Income Common Stockholders"] / financials["Total Assets"]
financials["ROE"] = financials["Net Income Common Stockholders"] / financials["Common Stock Equity"]

# Leverage
financials["Debt to Equity"] = financials["Total Debt"] / financials["Common Stock Equity"]
financials["Net Debt Ratio"] = financials["Net Debt"] / financials["EBITDA"]

# Liquidity
financials["Working Capital Ratio"] = financials["Working Capital"] / financials["Total Assets"]

# Cash Flow Strength
financials["OCF Margin"] = financials["Operating Cash Flow"] / financials["Total Revenue"]
financials["FCF Margin"] = financials["Free Cash Flow"] / financials["Total Revenue"]

# Capital Efficiency
financials["Capex Ratio"] = financials["Capital Expenditure"] / financials["Operating Cash Flow"]

In [19]:
financials[
    ["Gross Margin","Operating Margin","Net Margin",
     "ROA","ROE",
     "Debt to Equity","Net Debt Ratio",
     "OCF Margin","FCF Margin","Capex Ratio"]
]

Breakdown,Gross Margin,Operating Margin,Net Margin,ROA,ROE,Debt to Equity,Net Debt Ratio,OCF Margin,FCF Margin,Capex Ratio
TTM,0.265626,0.121692,0.083137,NaN,NaN,NaN,NaN,0.186072,0.057120,-0.693021
3/31/2025,0.250863,0.116578,0.072197,0.035715,0.082600,0.438301,1.361944,0.185243,0.040154,-0.783238
3/31/2024,0.251331,0.123927,0.077265,0.039648,0.087741,0.436232,1.305961,0.176223,0.006553,-0.962812
3/31/2023,0.234596,0.116212,0.075985,0.041496,0.093176,0.467111,1.825161,0.131041,-0.029568,-1.225642
3/31/2022,0.236054,0.113171,0.087224,0.040479,0.077878,0.361744,1.842119,0.158994,0.015100,-0.905028

In [41]:
financials.columns

Index([                            'Total Revenue',
                                 'Cost of Revenue',
                                    'Gross Profit',
                               'Operating Expense',
                                'Operating Income',
       'Net Non Operating Interest Income Expense',
                                   'Pretax Income',
                                   'Tax Provision',
                  'Net Income Common Stockholders',
        'Diluted NI Available to Com Stockholders',
       ...
                                'Operating Margin',
                                    'Gross Margin',
                                             'ROA',
                                             'ROE',
                                  'Debt to Equity',
                                  'Net Debt Ratio',
                           'Working Capital Ratio',
                                      'OCF Margin',
                                      'FCF Margin',
                                     'Capex Ratio'],
      dtype='object', name='Breakdown', length=115)

# Growth Metrics

**Growth Engine**

In [23]:
financials = financials.sort_index()
growth = pd.DataFrame(index=financials.index)

# Revenue Growth
growth["Revenue Growth"] = financials["Total Revenue"].pct_change()

# Profit Growth
growth["Net Income Growth"] = financials["Net Income Common Stockholders"].pct_change()
growth["Operating Income Growth"] = financials["Operating Income"].pct_change()

# Cash Flow Growth
growth["OCF Growth"] = financials["Operating Cash Flow"].pct_change()
growth["FCF Growth"] = financials["Free Cash Flow"].pct_change()

growth

,Revenue Growth,Net Income Growth,Operating Income Growth,OCF Growth,FCF Growth
3/31/2022,NaN,NaN,NaN,NaN,NaN
3/31/2023,0.261324,0.098789,0.295215,0.039565,-3.469883
3/31/2024,0.026462,0.043762,0.094604,0.380381,-1.227500
3/31/2025,0.070615,0.000388,0.007128,0.125419,5.559865
TTM,0.036215,0.193229,0.081672,0.040850,0.474055

**CAGR**

In [24]:
years = len(financials) - 1

cagr = {
    "Revenue CAGR": (financials["Total Revenue"].iloc[-1] / financials["Total Revenue"].iloc[0])**(1/years) - 1,
    "Net Income CAGR": (financials["Net Income Common Stockholders"].iloc[-1] / financials["Net Income Common Stockholders"].iloc[0])**(1/years) - 1,
    "Operating Cash Flow CAGR": (financials["Operating Cash Flow"].iloc[-1] / financials["Operating Cash Flow"].iloc[0])**(1/years) - 1,
    "Free Cash Flow CAGR": (financials["Free Cash Flow"].iloc[-1] / financials["Free Cash Flow"].iloc[0])**(1/years) - 1,
}

pd.Series(cagr)

Revenue CAGR                0.094746
Net Income CAGR             0.081688
Operating Cash Flow CAGR    0.138645
Free Cash Flow CAGR         0.526746
dtype: float64

In [25]:
growth_score = (
    growth["Revenue Growth"] * 0.3 +
    growth["Net Income Growth"] * 0.3 +
    growth["OCF Growth"] * 0.4
)

growth["Growth Quality Score"] = growth_score
growth

,Revenue Growth,Net Income Growth,Operating Income Growth,OCF Growth,FCF Growth,Growth Quality Score
3/31/2022,NaN,NaN,NaN,NaN,NaN,NaN
3/31/2023,0.261324,0.098789,0.295215,0.039565,-3.469883,0.123860
3/31/2024,0.026462,0.043762,0.094604,0.380381,-1.227500,0.173219
3/31/2025,0.070615,0.000388,0.007128,0.125419,5.559865,0.071468
TTM,0.036215,0.193229,0.081672,0.040850,0.474055,0.085173

# Risk Analysis

**Build a Financial Risk Score**

In [26]:
risk = pd.DataFrame(index=financials.index)

risk["Leverage Risk"] = financials["Debt to Equity"]
risk["Debt Burden"] = financials["Net Debt"] / financials["EBITDA"]
risk["Profit Stability"] = financials["Net Margin"].rolling(3).std()
risk["Cash Flow Stability"] = financials["Operating Cash Flow"].rolling(3).std()

risk

           Leverage Risk  Debt Burden  Profit Stability  Cash Flow Stability
3/31/2022       0.361744     1.842119               NaN                  NaN
3/31/2023       0.467111     1.825161               NaN                  NaN
3/31/2024       0.436232     1.305961          0.006153         2.661652e+08
3/31/2025       0.438301     1.361944          0.002635         3.257093e+08
TTM                  NaN          NaN          0.005475         1.408636e+08

In [27]:
risk_normalized = (risk - risk.min()) / (risk.max() - risk.min())
risk_normalized

           Leverage Risk  Debt Burden  Profit Stability  Cash Flow Stability
3/31/2022       0.000000     1.000000               NaN                  NaN
3/31/2023       1.000000     0.968371               NaN                  NaN
3/31/2024       0.706938     0.000000          1.000000             0.677872
3/31/2025       0.726567     0.104414          0.000000             1.000000
TTM                  NaN          NaN          0.807193             0.000000

In [28]:
risk_normalized["Total Risk Score"] = (
    risk_normalized["Leverage Risk"] * 0.3 +
    risk_normalized["Debt Burden"] * 0.3 +
    risk_normalized["Profit Stability"] * 0.2 +
    risk_normalized["Cash Flow Stability"] * 0.2
)

risk_normalized["Total Risk Score"]

3/31/2022         NaN
3/31/2023         NaN
3/31/2024    0.547656
3/31/2025    0.449294
TTM               NaN
Name: Total Risk Score, dtype: float64

# Discounted Cash Flow (DCF) model

In [29]:
fcf = financials["Free Cash Flow"]
fcf

3/31/2022    105090000.0
3/31/2023   -259560000.0
3/31/2024     59050000.0
3/31/2025    387360000.0
TTM          570990000.0
Name: Free Cash Flow, dtype: float64

In [32]:
# Estimating Growth rate
g = cagr["Free Cash Flow CAGR"]
# Capping it
g = min(g, 0.15)   # max 15%
g

0.15

In [33]:
# Discount Rate
r = 0.10

In [34]:
# Forcasting 5 years of cashflow
latest_fcf = fcf.iloc[-1]

forecast = []
for i in range(1,6):
    forecast.append(latest_fcf * (1+g)**i)

forecast

[np.float64(656638500.0),
 np.float64(755134274.9999999),
 np.float64(868404416.2499999),
 np.float64(998665078.6874996),
 np.float64(1148464840.4906247)]

In [35]:
# Terminal Value(Gordon Growth Model)
g_terminal = 0.04

terminal_value = forecast[-1] * (1+g_terminal) / (r - g_terminal)
terminal_value

np.float64(19906723901.837494)

In [36]:
discounted_fcf = []
for i in range(1,6):
    discounted_fcf.append(forecast[i-1] / (1+r)**i)

discounted_terminal = terminal_value / (1+r)**5

enterprise_value = sum(discounted_fcf) + discounted_terminal
enterprise_value

np.float64(15629184432.52253)

In [39]:
net_debt = financials.loc["3/31/2025", "Net Debt"]
net_debt
equity_value = enterprise_value - net_debt
equity_value

np.float64(13160334432.52253)

In [40]:
shares = financials.loc["3/31/2025", "Ordinary Shares Number"]
shares
intrinsic_price = equity_value / shares
intrinsic_price

np.float64(972.4716917800665)

# Export data

In [53]:
# Valuation Summary Table
valuation = pd.DataFrame({
    "Metric": [
        "Terminal Value",
        "Enterprise Value",
        "Equity Value",
        "Intrinsic Price"
    ],
    "Value": [
        terminal_value,
        enterprise_value,
        equity_value,
        intrinsic_price
    ]
})

In [56]:
forecast_df = pd.DataFrame({
    "Year": ["FY1","FY2","FY3","FY4","FY5"],
    "Forecasted Free Cash Flow": forecast
})

In [57]:
with pd.ExcelWriter("Financials_data.xlsx", engine="openpyxl") as writer:
    financials.to_excel(writer, sheet_name="Financials")
    growth.to_excel(writer, sheet_name="Growth")
    risk_normalized.to_excel(writer, sheet_name="Risk_Normalized")
    forecast_df.to_excel(writer, sheet_name="Forecast")
    valuation.to_excel(writer, sheet_name="Valuation", index=False)

print("Financials_data.xlsx created successfully")

Financials_data.xlsx created successfully